.billPop{
        .ng-leave {
            -webkit-animation: fadeInLeft 1s;
            -moz-animation: fadeInLeft 1s;
            -ms-animation: fadeInLeft 1s;
            animation: fadeInLeft 1s;
            //transition: 0.75s;
            //opacity:1;
    }
        .ng-leave-stagger {
            transition-delay:0.1s;
    }
        .ng-leave-active {
            -webkit-animation: bounceOut 1s;
            -moz-animation: bounceOut 1s;
            -ms-animation: bounceOut 1s;
            animation: bounceOut 1s;
            //opacity:0;
    }
}


.alert-container{
    position:relative;
}

.alert-fade{
    .ng-enter{
            -webkit-animation: fadeIn 1s;
            -moz-animation: fadeIn 1s;
            -ms-animation: fadeIn 1s;
            animation: fadeIn 1s;
            //transition: 0.75s;
            //opacity:1;
    }
    .ng-leave-stagger {
            transition-delay:0.1s;
    }
    .ng-leave {
            -webkit-animation: fadeOut 1s;
            -moz-animation: fadeOut 1s;
            -ms-animation: fadeOut 1s;
            animation: fadeOut 1s;
            //opacity:0;
    }
    z-index: 3;
    position: absolute;
    width: 300px;
    margin-left: 10px;
    float: left;
}

/* Add formatting for Congressmembers' pics */

.repworthiness
{
    text-align: center;
    
    $width: 163px;
    $img_sz: 100px;
    $per_sz: 31px;  /* 37px works for double digit, 31px works for single digit */
    display: inline;
    color: red;
    font-size: 18px;
    /*text-align: center;
    /* margin-left: (($width - $img_sz - $per_sz)/2)-1;
    margin-right: (($width - $img_sz - $per_sz)/2)-1; */
    font-family: Veranda;
    -vendor-animation-duration: 0.1s;
    
    
}

img
{
    margin: 5px 0px 5px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
